/* General Usage */
.pad-all-sm {padding: 5px;}
.pad-all-md {padding: 10px;}
.pad-all-lg {padding: 20px;}
.pad-none {padding: 0;}
.pad-v-sm {padding: 0 5px;}
.pad-v-md {padding: 0 10px;}
.pad-v-lg {padding: 0 20px;}
.pad-h-sm {padding: 5px 0;}
.pad-h-md {padding: 10px 0;}
.pad-h-lg {padding: 20px 0;}
.pad-l-sm {padding-left: 5px;}
.pad-l-md {padding-left: 10px;}
.pad-l-lg {padding-left: 20px;}
.pad-t-sm {padding-top: 5px;}
.pad-t-md {padding-top: 10px;}
.pad-t-lg {padding-top: 20px;}
.pad-r-sm {padding-right: 5px;}
.pad-r-md {padding-right: 10px;}
.pad-r-lg {padding-right: 20px;}
.pad-b-sm {padding-bottom: 5px;}
.pad-b-md {padding-bottom: 10px;}
.pad-b-lg {padding-bottom: 20px;}

.margin-all-sm {margin: 5px;}
.margin-all-md {margin: 10px;}
.margin-all-lg {margin: 20px;}
.margin-v-sm {margin: 0 5px;}
.margin-v-md {margin: 0 10px;}
.margin-v-lg {margin: 0 20px;}
.margin-h-sm {margin: 5px 0;}
.margin-h-md {margin: 10px 0;}
.margin-h-lg {margin: 20px 0;}
.margin-l-sm {margin-left: 5px;}
.margin-l-md {margin-left: 10px;}
.margin-l-lg {margin-left: 20px;}
.margin-t-sm {margin-top: 5px;}
.margin-t-md {margin-top: 10px;}
.margin-t-lg {margin-top: 20px;}
.margin-t-xl {margin-top: 30px !important;}
.margin-r-sm {margin-right: 5px;}
.margin-r-md {margin-right: 10px;}
.margin-r-lg {margin-right: 20px;}
.margin-b-sm {margin-bottom: 5px;}
.margin-b-md {margin-bottom: 10px;}
.margin-b-lg {margin-bottom: 20px;}

ul li {list-style-type: none;}

.fixed {position: fixed;}

/* Font */
.font-size-sm {font-size: 80%;}
.font-size-md {font-size: 105%;}
.font-size-lg {font-size: 115%;}
.font-size-xl {font-size: 150%;}
.font-size-xxl {font-size: 200%;}

.font-weight-300 {font-weight: 300;}
.font-weight-400 {font-weight: 400;}
.font-weight-500 {font-weight: 500;}
.font-weight-600 {font-weight: 600;}
.font-weight-800 {font-weight: 800;}

/* Display */
.block {display: block;}
.hidden {display: none;}
.show {display: block;}
.right {float: right;}
.left {float: left;}

/* Alignment */
.align-bottom {vertical-align: bottom;}
.align-middle {vertical-align: middle;}
.align-top {vertical-align: top;}
.align-center {text-align: center;}

.overflow-auto {overflow: auto;}

/* Layout */
.layout-col-container {
    flex: 1;
    overflow-y: auto;
    padding: 1.8rem;
}